.App {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  padding: 12px;
  text-align: justify;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-weight: bold;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 850px;
}
